<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Access Denied</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="css/styleSheet.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        h1{
        font-size:80px;
         text-align: center;
         font-weight: bold;
        }
        h2{
          font-size:40px;
          text-align: center;
          font-weight: bold;
        }
         h3{
          font-size:20px;
          text-align: center;
        }
        br {
          display: block;
          margin: 2px 0;
          }

    </style>

</head>
<body>


<header>
    <div class="logo">
        <a href="www.ideagen.com" class="ideagen-logo" title="Ideagen.com"><img src="/images/ideagen-logo-full-colour.svg" alt="Ideagen PLC" /></a>
    </div>
</header>

<div class="container">
    <br><h1>403</h1></br>
    <br><h2>Forbidden</h2></br>
    <br><h3>Access to this resource on the server is denied!</h3></br>
</div>
 
        
</body>
</html>