// Create a new user account page (this is from the admins login only)

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>

<form method="POST" name="user" th:action="@{/admin/user/create}" th:object="${user}">

    <p>Firstname: <input name="firstname" th:field="*{firstname}" /></p>
    <p>Surname: <input name="surname" th:field="*{surname}" /></p>
    <p>Username: <input name="username" th:field="*{username}" /></p>
    <p>Password: <input name="password" th:field="*{password}" /></p>
    <p>Role: <select name="role" th:field="*{role}"><option value="ROLE_AUTHOR">ROLE_AUTHOR</option><option value="ROLE_DISTRIBUTEE">ROLE_DISTRIBUTEE</option><option value="ROLE_ADMIN">ROLE_ADMIN</option></select></p>

    <input type="submit" />

</form>

</body>
</html>