<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Document</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="styleSheet.css" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            <li><a href="upload.html"><span class="glyphicon glyphicon-upload"></span>Upload</a></li>
            <li><a href="download.html"><span class="glyphicon glyphicon-download"></span>Download</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
        </ul>
    </div>
</nav>

<section class ="docview">
    <aside>
        <div class ="content view">
            <a href="filename.?">
                <h3><u>View Document</u></h3>
                <p> Click here to view the chosen document</p>
                <img src ="document.png" width="256" height="256"/>
            </a>
        </div>
    </aside>
    <aside>
        <div class ="content download">
            <a href="downloadfile.thing">
                <h3><u>Download document</u></h3>
                <p> Click here to download the chosen document</p>
                <img src ="download.png" width="256" height="256"/>
            </a>
        </div>
    </aside>
    <aside>
        <div class ="content share">
            <a href="filename.?">
                <h3><u>Share Document</u></h3>
                <p> Click here to share the chosen document</p>
                <img src ="share.png" width="300" height="300"/>
            </a>
        </div>
    </aside>
    <aside>
        <div class ="content create">
            <a href="upload.html">
                <h3><u>Upload new Document Revision</u></h3>
                <p> Click here to create/ upload a new revision of the document.</p>
                <img src ="upload.jpg" width="256" height="256"/>
            </a>
        </div>
    </aside>
</section>
<style>

section.docview{ margin-top: 20px; margin-bottom: 30px; padding: 6px; }
section.docview aside{ width: 33%; float: left;  text-align: center;}

section.docview .content { margin: 15px; background: no-repeat center top; background-size: 75px 75px; padding-top: 85px; }

section.docview aside h3 a { color: #000; text-decoration: none; }
section.docview aside h3 a:hover { text-decoration: underline; }
</style>
</body>
</html>