<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="styleSheet.css" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            <li><a href="upload.html"><span class="glyphicon glyphicon-upload"></span>Upload</a></li>
            <li><a href="download.html"><span class="glyphicon glyphicon-download"></span>Download</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
        </ul>
    </div>
</nav>

<section class ="docview">
    <aside>
        <div class ="content view">
            <a href="filename.?">
                <h3><u>View Document</u></h3>
                <p> Click here to view the chosen document</p>
                <img src ="document.jpg" width="256" height="256"/>
            </a>
        </div>
    </aside>
    <aside>
        <div class ="content download">
            <a href="downloadfile.thing">
                <h3><u>Download the chosen document</u></h3>
                <p> Click here to download the chosen document</p>
                <img src ="download.jpg" width="256" height="256"/>
            </a>
        </div>
    </aside>
</section>


</body>
</html>