<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE html
   PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>
            Download
        </title>
        <meta content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link href="css/styleSheet.css" rel="stylesheet" type="text/css" /><script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        type="text/javascript" xml:space="preserve"></script><script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        type="text/javascript" xml:space="preserve"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/userDashboard.html"><span
                    class="glyphicon glyphicon-home"></span>Home</a>
                </li>
                <li>
                    <a href="upload.html"><span
                    class="glyphicon glyphicon-upload"></span>Upload</a>
                </li>
                <li>
                    <a href="download.html"><span
                    class="glyphicon glyphicon-download"></span>Download</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout"><span class="glyphicon glyphicon-log-out"></span>
                    Logout</a>
                </li>
            </ul>
        </div>
        <div class="logo">
            <a href="www.ideagen.com" class="ideagen-logo" title="Ideagen.com"><img src="/images/ideagen-logo-full-colour.svg" alt="Ideagen PLC" /></a>
        </div>
        <div class="download-head">
            <h1>
                Download
            </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group" id="adv-search">
                        <input type="text" class="form-control" />
                        <div class="input-group-btn">
                            <div class="btn-group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button"
                                    class="btn btn-default dropdown-toggle"><span
                                    class="caret"></span></button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <form class="form-horizontal" action="">
                                            <div class="form-group">
                                                <label for="contain">Document
                                                Title</label> <input
                                                class="form-control" type="text" />
                                            </div>
                                            <div class="form-group">
                                                <label for="contain">Document
                                                ID</label> <input
                                                class="form-control" type="text" />
                                            </div>
                                            <button type="submit"
                                            class="btn btn-primary"><span
                                            class="glyphicon glyphicon-search"></span></button>
                                        </form>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary"><span
                                class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>