<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>
        createUser
    </title>
    <meta content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="/css/styleSheet.css" rel="stylesheet" type="text/css" /><script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        type="text/javascript" xml:space="preserve"></script><script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        type="text/javascript" xml:space="preserve"></script>
</head>
<body>
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="/adminDashboard.html"><span
                    class="glyphicon glyphicon-home"></span>Home</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/logout"><span
                    class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
    </ul>
</div>
<div class="logo">
    <a href="www.ideagen.com" class="ideagen-logo" title="Ideagen.com"><img src="/images/ideagen-logo-full-colour.svg" alt="Ideagen PLC" /></a>
</div>
<form method="POST" name="user" action="" id="user" th:action="@{'/admin/user/edit/'+${user.id}}" th:object="${user}">
    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Edit User Account <small>Administrator</small>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text"
                                           name="firstname"
                                           class="form-control input-sm"
                                           th:field="*{firstname}"
                                    />
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text"
                                           name="last_name"
                                           class="form-control input-sm"
                                           th:field="*{surname}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input name="username"
                                   class="form-control input-sm"
                                   th:field="*{username}"/>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password"
                                           name="password"
                                           class="form-control input-sm"
                                           th:field="*{password}"/>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <select name="role"
                                            th:field="*{role}"
                                            class="form-control input-sm">
                                        <option value="ROLE_AUTHOR">
                                            ROLE_AUTHOR
                                        </option>
                                        <option value="ROLE_DISTRIBUTEE">
                                            ROLE_DISTRIBUTEE
                                        </option>
                                        <option value="ROLE_ADMIN">
                                            ROLE_ADMIN
                                        </option></select>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Confirm Changes"
                               class="btn btn-info btn-block" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>