<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE html
   PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta content="" />
    <title>
      View Document
    </title>
    <meta content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="css/styleSheet.css" rel="stylesheet" type="text/css" /><script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
    type="text/javascript" xml:space="preserve"></script><script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    type="text/javascript" xml:space="preserve"></script>
    <style type="text/css" xml:space="preserve">

section.docview{ margin-top: 20px; margin-bottom: 30px; padding: 6px; }
section.docview aside{ width: 33%; float: left;  text-align: center;}

section.docview .content { margin: 15px; background: no-repeat center top; background-size: 75px 75px; padding-top: 85px; }

section.docview aside h3 a { color: #000; text-decoration: none; }
section.docview aside h3 a:hover { text-decoration: underline; }
</style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="index.html"><span class="glyphicon glyphicon-home"></span>Home</a>
        </li>
        <li>
          <a href="upload.html"><span class="glyphicon glyphicon-upload"></span>Upload</a>
        </li>
        <li>
          <a href="download.html"><span
          class="glyphicon glyphicon-download"></span>Download</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="login.html"><span class="glyphicon glyphicon-log-in"></span>
          Log Out</a>
        </li>
      </ul>
    </div>
    <div class="content view">
      <a href="filename.?"> </a>
      <h3>
        <u>View Document</u>
      </h3>
      <p>
        Click here to view the chosen document
      </p>
      <img src="images/document.png" width="256" height="256" alt="" />
    </div>
    <div class="content download">
      <a href="downloadfile.thing"> </a>
      <h3>
        <u>Download document</u>
      </h3>
      <p>
        Click here to download the chosen document
      </p>
      <img src="images/download.png" width="256" height="256" alt="" />
    </div>
    <div class="content share">
      <a href="filename.?"> </a>
      <h3>
        <u>Share Document</u>
      </h3>
      <p>
        Click here to share the chosen document
      </p>
      <img src="images/share.png" width="300" height="300" alt="" />
    </div>
    <div class="content create">
      <a href="upload.html"> </a>
      <h3>
        <u>Upload new Document Revision</u>
      </h3>
      <p>
        Click here to create/ upload a new revision of the document.
      </p>
      <img src="images/upload.jpg" width="256" height="256" alt="" />
    </div>
  </body>
</html>