<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Dashboard</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="css/styleSheet.css" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            <li><a href="upload.html"><span class="glyphicon glyphicon-upload"></span>Upload</a></li>
            <li><a href="download.html"><span class="glyphicon glyphicon-download"></span>Download</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
        </ul>
    </div>
</nav>
<header>
    <div class = "logo">
        <a href="/" class="ideagen-logo" title="Ideagen.com"><img src = "images/ideagen-logo-full-colour.svg" alt="Ideagen PLC" /></a>
    </div>
</header>

<br />


        <div class="col-sm-7 col-md-12">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Document View</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center">  <img src="images/document-image.png" alt="Doc" class="img-responsive"/> </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>ID: </td>
                                        <td>insert</td>
                                    </tr>
                                    <tr>
                                        <td>Title: </td>
                                        <td>insert</td>
                                    </tr>
                                    <tr>
                                        <td>Author: </td>
                                        <td>insert</td>
                                    </tr>
                                    <tr>
                                        <td>Active: </td>
                                        <td>insert</td>
                                    </tr>
                                    <tr>
                                        <td>Revision No.: </td>
                                        <td>insert</td>
                                    </tr>
                                    <tr>
                                        <td>Date Created: </td>
                                        <td>insert</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-md-offset-1">
                                    <div class="hero-widget well well-sm">
                                        <div class="icon">
                                            <i class="glyphicon glyphicon-download"></i>
                                        </div>
                                        <div class="text">
                                            <label class="text-muted">Download Document</label>
                                        </div>
                                        <div class="options">
                                            <a href="javascript:;" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok-sign"></i> Select</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
  var user;
  $.getJSON("/rest/getLoggedUser",function(result){
    user=result;
    console.log(user);
    console.log(user);

    var docs;
    $getJSON("'/document/byId/'+${user.docId}",function(result){
      console.log(result);
      docs=result;

      $each(docs, function (i, item) {
        var relationship = "<td>Documents</td>";
        var id = "<td>" + item.id + "</td>";
        var title = "<td>" + item.title + "</td>";
        var author = "<td>" + item.username + "</td>";

        var revisions = item.revisionNo;

        var date = new Date(1000*item.creationDate);
        date = "<td>" + date.toLocaleString() + "</td>";

        var wrapPrefix = '<td><div class="action-buttons">';
        var wrapSuffix = '</div></td>';
        var activateButton = '<a href="/toggleActivation/+'item.docID'"><span class="glyphicon glyphicon-eye-open" title="Activate"></span></a>';
        var downloadButton= '<a href="/files//+'item.username'+/'item.docID'+/+'item.revisionNo'+/+'item.filename'+:.+" ><span class="glyphicon glyphicon-share" title="Share"></span></a>';
        var actionButtons = wrapPrefix + activateButton + downloadButton + wrapSuffix;

        var tableRow = "<tr>" + relationship + id + title + author + active + revisions + date + actionButtons + "</tr>";
        $("tbody").append(tableRow);
      });
    });
  });


});
</script>
</body>
</html>
